<%- include("partials/header") %>

<div class="text-center container mt-3">
  <h1
    class="display-5 fw-bold text-center container"
    style="font-family: 'Montserrat'"
  >
    <% if(challenge) { %>
    <span class="highlight text-center">Yuna Challenge</span> <% } else {
    %><span class="highlight text-center">Yunation</span> <% } %>
  </h1>
</div>
<div class="container mt-3">
  <!-- Sample image cards -->
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <img
          src="<%= entry.imgLink %>"
          class="card-img"
          style="position: absolute; z-index: -2; filter: blur(20px)"
          alt="<%= entry.name %>"
        />
        <img
          src="<%= entry.imgLink %>"
          class="card-img"
          style="max-width: 100%"
          alt="<%= entry.name %>"
        />
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <div class="card mb-3 bg-transparent border">
        <div class="card-body">
          <% if (entry.name || entry.desc) { %> <% if (entry.name) { %>
          <h4 class="card-title"><strong><%= entry.name %></strong></h4>
          <% } %> <% if (entry.desc) { %>
          <p class="card-text"><%= entry.desc %></p>
          <% } }else { %>
          <h4 class="card-title"><strong>There's no Description</strong></h4>

          <% } %>
        </div>
        <div class="card-footer">
          <a href="<%= entry.imgLink %>" download="<%= entry.name %>.jpg">
            <button class="btn btn-primary rounded-pill btn-sm">
              Download
            </button>
          </a>
          <button
            class="btn btn-primary rounded-pill btn-sm"
            onclick="search()"
          >
            <i class="fa fa-share" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="card mb-3 border">
        <div class="card-body" style="max-height: 215px; overflow-y: auto">
          <h4 class="pb-3">Comments (｡^ ‿^♡)</h4>
          <% if (entry.comments.length > 0) { %> <% entry.comments.slice(0,
          20).forEach((comment) => { %>
          <h6><%= comment.comment %></h6>
          <% }); %> <% } else { %>
          <h6>Be The First ٩(˵˃̶ω˂̶˵)◞</h6>

          <% } %>
        </div>
        <div class="card-footer" style="border-top: 1px dashed #d8d9da">
          <% if(challenge) { %>
          <form
            action="/post/challenge/<%= entry.id %>/comment"
            method="post"
            class="d-flex gap-2"
          >
            <div class="input-group flex-grow-1">
              <input
                type="text"
                class="form-control rounded-lg"
                style="
                  border-radius: 24px;
                  border: 2px solid var(--accent) !important;
                "
                id="comment"
                name="comment"
                autocomplete="off"
                placeholder="Add Comments"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-plus"></i>
            </button>
          </form>
          <% } else { %>
          <form
            action="/post/<%= entry.id %>/comment"
            method="post"
            class="d-flex gap-2"
          >
            <div class="input-group flex-grow-1">
              <input
                type="text"
                class="form-control rounded-lg"
                style="
                  border-radius: 24px;
                  border: 2px solid var(--accent) !important;
                "
                id="comment"
                name="comment"
                autocomplete="off"
                placeholder="Add Comments"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-plus"></i>
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/bottom.ejs") %>
