<%- include("partials/header") %>

<div class="container-fluid pt-3">
  <h1
    class="display-5 fw-bold text-center container"
    style="font-family: 'Montserrat'"
  >
    <% if(challenge) { %> <span class="highlight">Yuna Challenge</span> <% }
    else { %><span class="highlight">Yunation</span> <% } %>
  </h1>
  <div class="card-columns grid" id="cardContainer">
    <% if(data) { %>
    <!-- Tambahkan id="cardContainer" di sini -->
    <!-- Sample image cards -->
    <% let datalist = data.sort(() => Math.random() - 0.5);
    datalist.slice(0,40).forEach((entry) => { %> <% if (entry.imgLink) { %>

    <a
      href="/YunayuSNS/<% if(challenge) { %>/challenge/<% } %><%= entry.id %>"
      class="card bg-transparent"
    >
      <img
        class="card imgCard"
        src="<%= entry.imgLink %>"
        style="
          max-height: <%= Math.floor(Math.random() * (500 - 350 + 1)) + 350 %>px;
        "
      />

      <p class="ml-3 h3 text-black"><%= entry.name %></p>
    </a>
    <% } %> <% }); %>
    <p style="display: none" id="datalist"><%- JSON.stringify(datalist) %></p>
    <% } else { %>
    <p class="text-center">Still Empty</p>
    <% } %>
  </div>
</div>
<%- include("partials/bottom.ejs") %>
